<!-- Adicionando o componente do Header (header.ejs) é uma partials -->
<%- include ('componente/header.ejs') %>

<body>

 <%- include ('componente/navbar.ejs') %>
   <div class="container">
    <div class="card" id="card01">
      <div class="card-header">
         <h3>Realizar Pergunta</h3>
      </div>

      <div class="card-body">
    <form method="post" action="/salvarpergunta">
      <label for="">Digite o Título:</label> 
      <input type="text" placeholder="Título da pergunta" class="form-control">
      <br>
      <label for="">Digite a descrição:</label>
      <textarea name="" id="" placeholder="Descreva a sua pergunta:" class="form-control"></textarea>
      <br>
      <button class="btn btn-primary">PERGUNTAR</button>
    </form>
      </div>
    </div>
   </div>
</body>
</html>